# Importing

In [47]:
import pandas as pd

df = pd.read_csv("pokemon_data.csv")
# same for Excel and Text files
# note if using "delimeter" files aka files with basic text that use tabs or commas...use delimeter = , or /t

# General Viewing

#### Provides Numeric Info (i.e. Count, Mean, Min, Max etc.) for Numeric Columns Only

In [101]:
# df.describe()

#### Lists the names of all your columns

In [6]:
# df.columns

# Specific Viewing/Listing

#### Print Specific Columns (In any order)

In [10]:
# SINGLE
# print(df['Name'])
# MULTIPLE
# print(df[['Column Name 1', 'Column Name 4', 'Column Name 2']])

#### Print a Specific Row (i stands for = integer)

In [ ]:
# df.iloc[269]

#### Print a Specific Row With Certain Columns (by number)

In [ ]:
# df.iloc[269, 0:3]

#### Print Specific Rows With Certain Columns (by name)

In [ ]:
# df.loc[:, ["Type 1", "Legendary"]]

#### Print Rows with Specific Column and Specific Entry

In [ ]:
# df.loc[df['HP'] == 20]
# df.loc[df['Type 1'] == 'Water']

#### Print Rows with Many Columns and Many Entries

In [50]:
# df.loc[(df['Type 1'] == 'Grass') & (df["Type 2"] == "Poison") & (df["HP"] > 70)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

#### Print Items that contain specific word

In [53]:
# df.loc[df["Name"].str.contains("Mega")]

#### Or DON'T contain specific word (add ~  )

In [55]:
# df.loc[~df["Name"].str.contains("Mega")]

#### Print Items that contain specific letter or combo of letters, i.e. "Ba  " or "To  "

# Sorting

#### Sort Row By A Specific Column

In [ ]:
# df.sort_values('Name')
# df.sort_values('Name', ascending=False)

#### Sort Row By Multiple Columns

In [ ]:
# df.sort_values(['Name', 'Type 1'], ascending = [0, 1])
# df.sort_values(["Name", "Type 1", "Type 2"], ascending=[1, 0, 1])

# Making Changes

#### Add New Column (Long way)

In [28]:
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed'] + df['Attack']

#### Add New Column (Short way)

In [37]:
# df["Total"] = df.iloc[:,4:10].sum(axis=1)

#### Drop Columns (THIS WAY SEEMS A BIT SHADY, FIND A NEW ONE

In [35]:
# basically you 'reset' the df
# df = df.drop(columns = ['Legendary'])

#### Change Name of Column Data

In [79]:
# df.loc[df["Type 1"] == "Fire", "Type 1"] = "Lit Ass Mofos"
# CHANGE BACK
# df.loc[df["Type 1"] == "Lit Ass Mofos", "Type 1"] = "Fire"

####  Set parameter of a column based on a condition

In [89]:
# df.loc[df["Type 1"] == "Fire", "Legendary"] = True

#### Now the DataFrame is really modified. So maybe reload the original.

In [90]:
# df = pd.read_csv("pokemon_data.csv")

#### Set Parameter of Many Columns based on a condition

In [117]:
# df.loc[df["HP"] > 50, ['Generation', "Legendary"]] = 'Pretty Dam Good Pokemon'
# OR MORE SPECIFIC
# df.loc[df["HP"] > 50, ['Generation', "Legendary"]] = ['999', 'Pretty Dam Good Pokemon']
df = pd.read_csv("pokemon_data.csv")

# Groupby / Aggregate Statistics

#### Group your data according to a specific column by Average or Sum

In [111]:
# df.groupby(["Type 1"]).mean()
# df.groupby(["Type 1"]).sum()

#### Group your data according to a specific column by Average and SORT specifically

In [115]:
# df.groupby(["Type 1"]).mean().sort_values('Defense', ascending = False)

#### Count items in a specific column

In [121]:
# df.groupby(["Type 1"]).count()

#### For a Cleaner Look: Maybe better to add a "Count" column

In [124]:
# df["Count"] = 1
# df.groupby(["Type 1"]).count()["Count"]

#### Group by Multiple Parameters (i.e. Subset of a certain column

In [126]:
# df.groupby(["Type 1", "Type 2"]).count()["Count"]

# Saving

In [46]:
# df.to_csv("Pokemon_Modififed.csv")
# OR
# df.to_csv("Pokemon_Modified.csv", index = False) to not include the automatically added first number ror

# EXCEL
# df.to_excel("Pokemon_Modified_Excel.xlsx")

# TEXT
# df.to_csv("Pokemon_Modified_Text.txt", index - False, sep = 't\')